<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Contratos {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/contrato.png') }}" />
    </head>
    <body>
        {% block body %}
            {#{{ ws_client() }}#}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
